[submodule "skills/guizang-ppt-skill"]
	path = skills/guizang-ppt-skill
	url = https://github.com/op7418/guizang-ppt-skill.git
[submodule "vendor/bro"]
	path = vendor/bro
	url = https://github.com/backnotprop/bro.git
[submodule "vendor/baoyu-skills"]
	path = vendor/baoyu-skills
	url = https://github.com/JimLiu/baoyu-skills.git
